.StaffContent {
    margin-bottom: 75px;
}

.mainTitles {
    margin: 40px 0 46px 0;
}
.tagLine{
    font-size: 18px;
    margin: 15px auto;
    text-align: center;
}

.photoGallery {
    margin-bottom:80px;
}

.linkk {
    text-decoration: none;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
}

@media screen and (max-width:990px) {
    .firstTitlePage {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 110%;
        text-align: center;
        color: #363636;
    }
    
}
